* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Lucida Grande, Verdana, Sans-serif;
    font-size: 80%;
    color: #444;
    background-color: #fff;
    margin:50px 0px; padding:0px;
    text-align:center;
}
    
#Content {
    width:500px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    line-height: 1.5em;
    }

h1 {
    font-size: 3em;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 0px solid #afafaf;
    color: #00a;
}

h2 {
    font-size: 1.25em;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    color: #a00;
    font-weight: bold;
    border-bottom: 0px solid #afafaf;
}

#tagline {
    padding: 0px 0px 0px 10px;
    margin: 6px 0px 0px 0px;
    font-size: 0.9em;
}

.quizprompt {
    padding: 22px 12px 12px 12px;
    margin: 20px 0px 20px 0px;
    border: 1px solid #afafaf;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    background: #efefef;
}

p {
    margin-bottom: 1em;
}

#footer {
    border-top: 1px solid #afafaf;
    text-align: center;
    font-size: 0.8em;
}

#menu {
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 2px;
    margin: 6px 0px 0px 0px;
}

#slickbox {
    text-align: center;
    font-size: 0.8em;
    border: 1px solid #afafaf;
    background-color: #fff;
    padding: 12px;
    margin: 6px 0px 10px 0px;	
}